.idea/misc.xml
.idea/Sqlite Entities Generates.iml
Sqlite Entities Generates.xcodeproj/project.xcworkspace/xcshareddata/Sqlite Entities Generates.xccheckout
Sqlite Entities Generates.xcodeproj/xcuserdata/hungnt1.xcuserdatad/xcschemes/Sqlite Entities Generates.xcscheme
Sqlite Entities Generates.xcodeproj/xcuserdata/hungnt1.xcuserdatad/xcschemes/xcschememanagement.plist
